{% extends "layout.html" %}
{% block title %}first{% endblock %}
{% block heading %} <h1> welcome to the first page  </h1> {% endblock %}
{% block content %} 
    <h1>Content for the first page goes here...</h1>
    <div class="columns-2 md:columns-3 lg:columns-2 gap-4">
        <h2>Technologies</h2>
    {% for tech in techs %}
        <div class="tech-item">
            <a href="{% url 'detail' tech.id %}">
                <img  class="rounded shadow-blue-950 " src="{{tech.image.url}}" alt="">
                <h2 class="bg-blue-900" >{{ tech.name }}</h2>
                <h2 class="justify-center">${{tech.price}}</h2>
            </a> 
        </div>
    {% endfor %}
    </div>
{% endblock %}