{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}loading{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    {% block heading %} <h1>Loading</h1> {% endblock %}
    <main>
        {% block content %}
        <p>Content goes here...</p>
        {% endblock %}
        {% block image %}
            <div class="image">
                <img src="" alt="">
            </div> 
        {% endblock %}
    </main>
</body>
</html>